
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class => "form-horizontal center" }) do |f| %>

  <%= devise_error_messages! %>

  <div class="form-group">
    <div class="col-lg-offset-3 col-lg-4">
      <h2>Forgot your password?</h2>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-3' %><br />
    <div class="col-lg-4">
      <%= f.email_field :email, autofocus: true, :class => 'form-control' %><br />
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-3 col-lg-4">
      <%= f.submit "Send me reset password instructions", :class => 'btn btn-default btn-primary' %><br />OR <br />  
      <%= render "devise/shared/links" %><br /> 
    </div>    
  </div>  
<% end %>
